[submodule "src/lib/applescript"]
	path = src/lib/applescript
	url = https://github.com/repla-app/repla-applescript.git
[submodule "test/data/packages"]
	path = test/backup
	url = https://github.com/repla-app/repla-test-data.git
